---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const notes = (await getCollection("notes"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_NOTES_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-bold text-black dark:text-white text-2xl">
      Hey, it's Daniel! <span class="text-4xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Welcome to my blog. I'm Daniel, and I share my thoughts and experiences about software engineering here. I'm particularly
            interested in functional programming and software architecture.
          </p>
          <p class="animate">
            I write notes whenever I solve an interesting problem or learn something new, aiming to share insights that might help others
            along the way.
          </p>
          <p class="animate">
            These days, I mostly work with .NET and Azure, so you'll find plenty of content around those topics (coming soon™). I hope
            you'll find something useful here.
          </p>
          <p class="animate">If you'd like to get in touch or just say hi, reach out on social media or send me an email.</p>
        </article>
        <ul class="animate flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest notes</h5>
          <Link href="/notes"> See all notes </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            notes.map((note) => (
              <li>
                <ArrowCard entry={note} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Recent projects</h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
