---
import type { CollectionEntry } from "astro:content";
import { readingTime } from "@lib/utils";

type Props = {
  entry: CollectionEntry<"notes"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props;
const showReadingTime = entry.collection === "notes";
---

<a
  href={`/${entry.collection}/${entry.slug}`}
  class="relative group flex py-4 px-5 pr-12 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
  <div class="flex flex-col flex-1">
    <div class="font-semibold text-lg">
      {entry.data.title}
    </div>
    <div class="text-base">
      {entry.data.description}
    </div>
    {showReadingTime && <div class="text-sm text-black/40 dark:text-white/40 mt-1">{readingTime(entry.body)}</div>}
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    aria-hidden="true"
    class="absolute top-1/2 right-3 -translate-y-1/2 size-6 stroke-2 fill-none stroke-current"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
    ></line>
    <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
    ></polyline>
  </svg>
</a>
